// app global css in SCSS form
.text-white {
  color: #fff !important;
}
.bg-white {
  background: #fff !important;
}

// Text utilities
.text {
  &-white-7 {
    color: rgba(255, 255, 255, 0.7);
  }
  &-body2 {
    font-size: 14px;
  }
}

.text-dark-overlay {
  color: rgba(100, 100, 100, 0.1) !important;
}
.bg-dark-overlay {
  background: rgba(100, 100, 100, 0.1) !important;
}
